header{
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid #0c0606;
}

a{
  color: #000000;
}

a:hover{
  background:#e72929;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

a.logo{
  font-weight: 500;
  padding: 1rem;
  font-size: 18px;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

a span{
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
.navbar
{
    background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link
{
    color: #000000;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item {
  text-align: center;
  margin: 0 11px; /* Add some spacing between navigation items */
}

.navbar-logo {

  width: 28px;
  height: 28px;
}







.buy-button {
  background-color: blue;
  
  color: white; /* You might want to set text color to ensure visibility */
  padding:  8px 18px !important; /* Add padding to make the button look better */
  border-radius: 24px; /* Add rounded corners for a button-like appearance */
  text-decoration: none; /* Remove underline from the link */
}
 

.buy-buttons {
  margin-left: 20px;
  background-color: blue;
  color: white; /* You might want to set text color to ensure visibility */
  padding:  8px 18px !important;  /* Add padding to make the button look better */
  border-radius: 25px; /* Add rounded corners for a button-like appearance */
  text-decoration: none; /* Remove underline from the link */
}

@media (max-width: 767px) {
  .navbar-toggler {
    padding: 0.25rem 0.5rem; /* Adjust padding as needed */
    font-size: 0.75rem; /* Adjust font size as needed */
  }
}

/* Add this CSS to your component's style file or global styles */

/* Hide elements with class "mob" on screens wider than 767px */
@media (min-width: 768px) {
  .mob {
    display: none;
  }
}

/* Show the buy-buttons class on screens with a max-width of 768px (mobile devices) */
@media (max-width: 768px) {
  .buy-buttons {
    display: block;
    padding:  6px 12px !important;
    border-radius: 25px; 
  }
}

/* Hide the buy-buttons class on screens with a min-width of 769px (larger screens) */
@media (min-width: 769px) {
  .buy-buttons {
    display: none;
  }
}



@media (max-width: 767px) {
  .mob {
    margin: 0 6px; /* Adjust margin as needed */
    padding: 0.25rem; /* Adjust padding as needed */
  }
}


@media (max-width: 768px) {
  .navbar-logo {
    margin-right: 130px; /* Add desired space after image */
  }
  
 
}











.sub{
  font-size: 33px;
  font-weight: 550;
  margin-top: 60px;
  margin-left: 470px;
  justify-content: center;
}

.sub1{
  font-size: 93px;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 170px;
  text-align: center;
}

.sub3{
  font-size: 33px;
  font-weight: 500;
  margin-top: 60px;
  margin-left: 300px;
  text-align: center;
}


.apple1 {
  width: 1200px;
 margin-top: 60px;
}
.apple2 {
  width: 1200px;
 margin-top: 60px;
}


.container1 {
margin-top: -20px;
}
.apple3 {
  width: 450px;
  margin-left: 290px;
  padding-bottom: 100px;
 /* margin-top: 60px; */
}


.sub4{
  font-size: 93px;
  font-weight: 800;
  line-height: 207px;
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
}

.sub5{
  font-size: 93px;
  color: #ffffff;
  font-weight: 800;
  line-height: 100px;
  padding: 100px;
  margin-top: 80px;
  margin-left: 0px;
  text-align: center;
}

.sub6{
  font-size: 40px;
  font-weight: 500;
  line-height: 68px;
  padding: 100px;
  margin-top: 80px;
  margin-left: 0px;
  
}



@media (max-width: 768px) {
  .sub {
    font-size: 22px; /* Adjust the font size for mobile devices */
    margin-left: 100px;
    margin-top: 40px;
  }
}


@media (max-width: 768px) {
  .apple1 {
    width: 300px;
    margin-left: 10px;
   margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .apple2 {
    width: 300px;
    margin-left: 10px;
   margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .apple3 {
    width: 100px;
    padding-bottom: 70px;
    margin-left: 50px;
   margin-top: -40px;
  }
}


@media (max-width: 768px) {
  .sub1 {
    font-size: 42px; /* Adjust the font size for mobile devices */
    margin-left: 0px;
    font-weight: 589;
    line-height: 37px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-family: 700;
  }
}


@media (max-width: 768px) {
  .sub3 {
    font-size: 16px; /* Adjust the font size for mobile devices */
    margin-left: 40px;
    margin-top: 40px;
  }
}


@media (max-width: 768px) {
  .sub4 {
    font-size: 30px; /* Adjust the font size for mobile devices */
    margin-left: 0px;
    font-weight: 800;
    line-height: 67px;

    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: 700;
  }
}



@media (max-width: 768px) {
  .sub5{
    font-size: 37px; /* Adjust the font size for mobile devices */
    margin-left: 0px;
    font-weight: 800;
    line-height: 32px;
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: 700;
  }
}


@media (max-width: 768px) {
  .sub6{
    font-size: 18px; /* Adjust the font size for mobile devices */
    margin-left: 2px;
    padding: 30px;
    font-weight: 500;
    line-height: 29px;
 
    margin-top: 30px;
  }
}

